venv/
env/
__pycache__/
*.pyc
db.sqlite3
media/
chroma_db*/
*.log
.env
corpus_rag_downloads/
documents/
documents_ia/
*.bak
*.bak2
*.bak3
*.backup_avant_chromadb
db.sqlite3.backup_avant_senkala
BD.pdf
les_alcanes.pdf
